Language: C
AlignArrayOfStructures: None
AllowShortFunctionsOnASingleLine: None
BracedInitializerIndentWidth: 8
BreakBeforeBinaryOperators: All
Cpp11BracedListStyle: false
IndentWidth: 8
TabWidth: 8

